html{
	margin: 0;
	
}
body {
	margin: 0;
	background-image: url("../images/chicken.jpeg");
	background-repeat: no-repeat;
    background-size: cover;
}
#logo{
	padding:10px;
	width:330px;
	height: auto;
	margin-left:38%
}

.nav ul li{
	display: inline;
}

.nav li {
	padding-right: 20px;
	padding-left: 20px;
	font-size: 18px;
	font-family: "Arial", sans serif;
}

.nav ul{
	text-align: center;
	margin: auto;
}
.nav{
	background: rgba(48, 48, 48, .68);
	padding-top: 15px;
	padding-bottom: 15px;
	
}
a {
	text-decoration: none;
	cursor: pointer;
	color: #edeeef;
}
.footer{
	background: #fff;
	padding:3px;
	position: fixed;
	bottom: 0;
	width: 100%;
}
.footer p {
	color: #969494;
	font-size: 12pt;
	text-align: center;
	font-family: "Arial", sans serif;
}
.footer img{
	width: 30px;
	height: auto;
	margin: auto;
}
/* Menu page */

body.menu .nav{
	position: relative; 
}
body.menu{
	background-image: url("../images/IMG_7192.jpg");
}
.logo{
	background: rgba(255, 255, 255, .75);
	width: 100%;
}
.title {
	background: #23408f;
	float: right;
	width: 300px;
	height:50px;
	z-index: -1;
}
.title h1{
	color: #fff;
	font-size: 25pt;
	padding-left: 20px;
	padding-top: 4px;
	font-family: "Arial", sans serif;
	margin: 0;
}
.square{
	background: rgba( 255, 255, 255, .75);
	position: absolute;
	width: 100%;
	z-index: -2;
}
.items {
	float: left;
	width: 30%;
	position: relative;
	margin-left: 100px;
}
.items h1{
	padding-left: 20px;
	color: #d2232a;
	font-family: "Arial", sans serif;
}
.items h2{
	padding-left: 20px;
	color: #23408f;
	font-size: 18px;
	font-family: "Arial", sans serif;
}
.items li,p{
	color: #797979;
	list-style-type: none;
	font-family: "Arial", sans serif;
}
.items p{
	padding-left: 20px;
	font-family: "Arial", sans serif;
}
/*Locations*/

body.locations{
	background-image: url("../images/location.jpeg");
}
.locationlist{
	float: right;
	background: #d2232a;
	width:300px;
	margin-top: 7px;
}

.locationlist ul li{
	color: #fff;
	font-family: "Arial", sans serif;
	font-size: 18pt;
	padding-top:10px;
	padding-bottom:10px;
	list-style-type: none;
}

.locationlist li:hover,li:active{
	background-color:#fff;
	color: #d2232a;
	cursor: pointer;
}
.map {
	background:#d2232a;
	padding: 20px;
	width: 500px;
	float: right;
	margin-top: 50px;
	margin-right: 10px;
}
.map img{
	height: 300px;
	width: auto;
	position: relative;
	margin-left: 30px;
	
}
.map p{
	color: #fff;
	font-size: 11pt; 
	text-align: left;
	font-family: "Arial", sans serif;
	margin-left: 30px;
}
.map h1{
	color:#fff;
	font-family: "Arial", sans serif;
	font-size: 14pt;
	text-align: center;
	margin: auto;
	padding-bottom: 10px;
}
/*Store*/
body.store{
	background-image: url("../images/the-21-best-donut-shops-in-america.jpg");
}

.store1{
	width: 20%;
	float: left;
	padding: 10px;
	margin-top:50px;
	margin-left: 30px;
}
.store2{
	width: 30%;
	float: left;
	padding: 10px;
	margin-top:20px;
	
}
.store3{
	width:40%;
	float:left;
	padding: 10px;
	margin-top: 50px;
}
#blue2{
	height: 180px;
	width: auto;
	padding-left: 5px;
}
#grey, #blue, #red, #red2{
	height: 150px;
	width:auto;
}
#red2{
	padding-left: 5px;
}
.square p{
	font-family: "Arial", sans serif;
	font-size: 10pt;
	color: #5c4b4a;
}


