html{
	margin: 0;
	
}
body {
	margin: 0;
	background-image: url("../images/chicken.jpeg");
	background-repeat: no-repeat;
    background-size: cover;
}
#logo{
	padding:10px;
	width:330px;
	height: auto;
}

.nav ul li{
	display: inline;
}

.nav li {
	padding-right: 20px;
	padding-left: 20px;
	font-size: 18px;
	font-family: "Arial", sans serif;
}

.nav ul{
	text-align: center;
	margin: auto;
}
.nav{
	background: rgba(167, 0, 0, .68);
	padding-top: 15px;
	padding-bottom: 15px;
	
}
a {
	text-decoration: none;
	cursor: pointer;
	color:white;
}
.footer{
	background: #fff;
	padding:3px;
	position: fixed;
	bottom: 0;
	width: 100%;
}
.footer p {
	color: #969494;
	font-size: 12pt;
	text-align: center;
	font-family: "Arial", sans serif;
}
.footer img{
	width: 30px;
	height: auto;
}
/* Menu page */

body.menu .nav{
	position: relative; 
}
body.menu{
	background-image: url("../images/IMG_7192.jpg");
}
.title {
	background: #23408f;
	float: right;
	width: 300px;
	height:50px;
	z-index: -1;
}
.title h1{
	color: #fff;
	font-size: 25pt;
	padding-left: 20px;
	padding-top: 4px;
	font-family: "Arial", sans serif;
	margin: 0;
}
.square{
	background: rgba(255, 255, 255, .75);
	position: absolute;
	width: 100%;
	z-index: -2;
}
.items {
	float: left;
	width: 30%;
	position: relative;
	margin-left: 100px;
}
.items h1{
	padding-left: 20px;
	color: #d2232a;
	font-family: "Arial", sans serif;
}
.items h2{
	padding-left: 20px;
	color: #23408f;
	font-size: 18px;
	font-family: "Arial", sans serif;
}
.items li,p{
	color: #797979;
	list-style-type: none;
	font-family: "Arial", sans serif;
}
.items p{
	padding-left: 20px;
	font-family: "Arial", sans serif;
}
/*Locations*/

body.locations{
	background-image: url("../images/location.jpeg");
}
.locationlist{
	float: right;
	background: #d2232a;
	width:300px;
	margin-top: 7px;
	
}

.locationlist ul li{
	color: #fff;
	font-family: "Arial", sans serif;
	font-size: 18pt;
	padding: 10px;
	list-style-type: none;
	
}

